In [30]:
import pandas as pd
df = pd.DataFrame([['ABBOTSFORD', 427000, 448000],
                   ['ABERFELDIE', 534000, 600000]],
                   columns=['Locality', 2005, 2006])

In [38]:
df

     Locality    2005    2006
0  ABBOTSFORD  427000  448000
1  ABERFELDIE  534000  600000

### Approach 1: Add a new column Locality_Index column and index it

In [114]:
df_new = df.copy()

In [115]:
df_new

     Locality    2005    2006
0  ABBOTSFORD  427000  448000
1  ABERFELDIE  534000  600000

In [116]:
df_new['Locality_Index'] = df_new['Locality']

In [117]:
df_new

     Locality    2005    2006 Locality_Index
0  ABBOTSFORD  427000  448000     ABBOTSFORD
1  ABERFELDIE  534000  600000     ABERFELDIE

In [118]:
df_new.set_index('Locality_Index', inplace=True)

In [119]:
df_new

                  Locality    2005    2006
Locality_Index
ABBOTSFORD      ABBOTSFORD  427000  448000
ABERFELDIE      ABERFELDIE  534000  600000

In [120]:
 df_new.loc['ABBOTSFORD']

Locality    ABBOTSFORD
2005            427000
2006            448000
Name: ABBOTSFORD, dtype: object

In [122]:
df_new.loc['ABBOTSFORD'].values

array(['ABBOTSFORD', 427000, 448000], dtype=object)

In [123]:
df_new.loc['ABBOTSFORD'].get_values()

array(['ABBOTSFORD', 427000, 448000], dtype=object)

In [126]:
 df_new.iloc[0].tolist()

['ABBOTSFORD', 427000, 448000]

In [127]:
 df_new.iloc[1].tolist()

['ABERFELDIE', 534000, 600000]

In [124]:
df_new.loc['ABBOTSFORD'].tolist()

['ABBOTSFORD', 427000, 448000]

In [125]:
df_new.loc['ABERFELDIE'].tolist()

['ABERFELDIE', 534000, 600000]

### Approach 2: Index Locality in place

In [46]:
df_new1 = df.copy()

In [47]:
df_new1.set_index('Locality', inplace=True)

In [48]:
df_new1

              2005    2006
Locality
ABBOTSFORD  427000  448000
ABERFELDIE  534000  600000

In [98]:
df_new1.loc['ABBOTSFORD']

2005    427000
2006    448000
Name: ABBOTSFORD, dtype: int64

In [94]:
df_new1.index.get_values()

array(['ABBOTSFORD', 'ABERFELDIE'], dtype=object)

In [49]:
df_new1.values

array([[427000, 448000],
       [534000, 600000]], dtype=int64)

In [63]:
df_new1.loc['ABBOTSFORD'].values

array([427000, 448000], dtype=int64)

#### Functions return index value and values...

In [128]:
def get_val_loc(idx=0):
    return [df_new1.index.get_values()[idx],*df_new1.iloc[idx].values]

In [129]:
def get_ref_loc(idx='ABBOTSFORD'):
    return [idx,*df_new1.loc[idx].values]

In [132]:
get_val_loc(0)

['ABBOTSFORD', 427000, 448000]

In [133]:
get_val_loc(1)

['ABERFELDIE', 534000, 600000]

In [135]:
pd.DataFrame([get_val_loc(0)], columns=['Locality', '2005', '2006'])

     Locality    2005    2006
0  ABBOTSFORD  427000  448000

In [111]:
get_ref_loc('ABBOTSFORD')

['ABBOTSFORD', 427000, 448000]

In [112]:
get_ref_loc('ABERFELDIE')

['ABERFELDIE', 534000, 600000]